<!-- <div class="row">
  <div class="col md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
            <i class="fa fa-lock"></i> Client Panel</span>
          Register
        </h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
          </div>
        </form>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
          </div>
          <input type="submit" value="Register" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
            <i class="fa fa-lock"></i> Client Panel</span>
          Login
        </h1>
        <div class="login-form" *ngIf="!newUser">
          <form [formGroup]="userForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email" required>
            </div>
            <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" required>
              <div *ngIf="formErrors.password" class="alert alert-danger">
                {{ formErrors.password }}
              </div>
            </div>
            <input type="submit" value="Login" class="btn btn-primary btn-block" [disabled]="!userForm.valid">
          </form>
          <button *ngIf="!passReset && userForm.controls.email.valid" class="btn btn-link btn-block" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</button>
          <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
          <button class="btn btn-link btn-block" (click)="toggleForm()">Register</button>
        </div>

        <div class="register-form" *ngIf="newUser">
          <form [formGroup]="userForm" (ngSubmit)="signup()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email" required>
            </div>
            <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" required>
              <div *ngIf="formErrors.password" class="alert alert-danger">
                {{ formErrors.password }}
              </div>
            </div>
            <input type="submit" value="Register" class="btn btn-primary btn-block" [disabled]="!userForm.valid">
          </form>
          <button class="btn btn-link btn-block" (click)="toggleForm()">Already Registered?</button>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <!-- <div class="card-header">
        Social Login
      </div>   -->
      <div class="card-body text-center">
        <button (click)="signInWithGoogle()" class="btn btn-block btn-primary">
          <i class="fa fa-google"></i> Connect Google
        </button>
        <button (click)="authService.facebookLogin()" class="btn btn-block btn-primary">
          <i class="fa fa-facebook"></i> Connect Facebook
        </button>
      </div>


    </div>
  </div>
</div>