<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>

  <div class="row text-center">
    <!-- <p class="header-title">G.I.F.T. Day</p> -->
    <div>
      <p class="header-title">Girls in Future Technology Day</p>
      <p class="header-body">"We are developing tomorow's innovators!"</p>
      <a routerLink="/workshops">Workshops</a>
      <a routerLink="/presenters">Presenters</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="../../assets/media/woa.jpg" alt="Women of AT&amp;T">
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="../../assets/media/aspire.jpg" alt="AT&amp;T Aspire">
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">STEM Conference</div>
      <img src="../../assets/media/box1.jpg" alt="box1 Image" class="card-img-top">
      <div class="card-body">
        <p>The Kansas City chapters for ASPIRE and the Women of AT&amp;T are thrilled to announce they are partnering with the Metropolitan
          Community College’s Business &amp; Technology campus to host a Girls in STEM conference this fall.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">The Experience</div>
      <img src="../../assets/media/box2.jpg" alt="box2 Image" class="card-img-top">
      <div class="card-body">
        <p>This event will be comprised of speakers, workshops, interactive booths, and engaging activities. Students will see and
          experience real AT&amp;T equipment.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Community Involvement</div>
      <img src="../../assets/media/box3.jpg" alt="box3 Image" class="card-img-top">
      <div class="card-body">
        <p>Scientists, engineers, and technological specialists from various organizations around the metro area will be present
          to afford the girls an amazing opportunity learning about all types of jobs and careers available across many industries.</p>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <div class="card-header">Employment, Internships, and Scholarships</div>
      <img src="../../assets/media/box4.jpg" alt="box4 Image" class="card-img-top">
      <div class="card-body">
        <p>Students will learn about employment opportunities, available scholarships, and internships.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Registration for students and volunteers</div>
      <img src="../../assets/media/box5.jpg" alt="box5 Image" class="card-img-top">
      <div class="card-body">
        <p>Anyone interested in attending or volunteering must register online. The registration link will be included on the invitations
          and event flyers.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Mentorship</div>
      <img src="../../assets/media/box6.jpg" alt="box6 Image" class="card-img-top">
      <div class="card-body">
         A mentor empowers a person to see a possible future, and believe it can be obtained.
      </div>
    </div>
  </div>
</div>