.workshop-image {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.workshop-image img {
    width: 100%;
}

.workshop-description {
    padding: 20px;
}

.workshop-header h1 {
    color: #e8af48;
}
.workshop-header p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* .workshop-header a {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
} */

@media (min-width: 576px) { 
    .workshop-image img {
        max-width: 360px;
    }
    .workshop-image {
        margin-top: 5px;
    }
    .workshop-header h1 {
        margin-bottom: 20px;
    }
    .workshop-header p {
        margin-top: 10px;
    }
    .workshop-header a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
 }