/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* { 
--main-orange: #FFC107;
--main-blue: #40C4FF;
--main-grey: #FAFAFA;
--orange-dark: #E89E00;
/* --orange-dark: #FFAB00; */
--offset-blue: #07C1FF;
--accent-green: #69ff64;
--accent-blue:  #0745FF;
--accent-red:  #ff470b;
--accent-purple: #C107FF;
--accent-yellow: #e3ff07;
}

/* #69ff64 green
#e3ff07 yellow
#ff470b red */

    /* --main-orange: #FFC107;
    --main-blue: #40C4FF;
    --offset-blue: #07C1FF;
    --accent-green: #5ee15a;
    --accent-blue: #0745FF;
    --accent-red: #ea5727db;
    --accent-purple: #C107FF;
    --accent-yellow: #e0f820; */

.alert p {
    margin: 0;
    padding: 0;
}

.mat-form-field-underline {
    bottom: 0.6px!important;
}

.mat-form-field-wrapper {
    padding-bottom: 5px;
    padding-top: 10px;
}
.submit-button {
    background-color: var(--main-blue);
    max-width: 150px;
    color: white!important;
    font-size: 1.25em;
    min-width: 100px;
}
.delete-button {
    background-color: var(--accent-red);
    max-width: 150px;
    color: white!important;
    font-size: 1.25em;
    min-width: 100px;
}
.cancel-button {
    background-color: white;
    max-width: 150px;
    color: black;
    font-size: 1.25em;
    min-width: 100px;
}
.submit {
    display: flex;
    margin-top: 15px;
}
.card {
    margin-bottom: 15px;
}
.confirm-cancel {
    margin-left: 25px;
}