<div class="row text-center">
  <div class="header-title">GIFT Day Presenters</div>
  <div class="header-body"></div>
  <a *ngIf="admin" routerLink="/presenters/add">Add Presenters</a>
</div>

<div class="row" *ngIf="presenters?.length > 0; else noPresenters">
  <div class="card-deck justify-content-center">
    <div class="card" *ngFor="let presenter of presenters">
      <img class="img-fluid" src="{{ presenter.imageURL }}" alt="{{ presenter.name + 'image' }}">
      <div class="card-body">
        <h3 class="card-text">{{ presenter.name }}</h3>
        <p class="card-text">{{ presenter.occupation }}</p>
        <p class="card-text">
          {{ (presenter.bio.length > 200)? (presenter.bio | slice:0:200) + '...':(presenter.bio) }}
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <p class="class-muted mr-auto details" routerLink="/presenters/{{ presenter.id }}">Presenter Details</p>
        </div>
        <a *ngIf="admin" routerLink="/presenters/edit/{{ presenter.id }}">Edit Presenters</a>
      </div>
    </div>
  </div>
</div>

<ng-template #noPresenters>
  <hr>
  <h5>Sorry, currently there are no Presenters.</h5>
</ng-template>